# ==================== Client ====================
CLIENT_PORT=3000

# ==================== SQL Server ====================
SQLSERVER_PORT=1433
MSSQL_PID=Developer
ACCEPT_EULA=Y

# Make sure your password meets SQL Server's password policy requirements.
# https://learn.microsoft.com/en-us/sql/relational-databases/security/password-policy?view=sql-server-ver17
MSSQL_SA_PASSWORD=YourStrong!Passw0rd123