# ==================== Client ====================
CLIENT_PORT=3000

# ==================== SQL Server ====================
SQLSERVER_PORT=1433
MSSQL_PID=Developer
ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=YourStrong!Passw0rd123